@model IEnumerable<ECommerce.Models.Customer>

@{
    ViewBag.Title = "Clientes";
}

    <h2>Clientes</h2>

    <p>
        @Html.ActionLink("Nueva", "Create", new { }, new { @class = "btn btn-primary" })
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.CustomerId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.CustomerId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.CustomerId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
