@model ECommerce.Models.Warehouse

@{
    ViewBag.Title = "Eliminar";
}

    <h2>Eliminar</h2>

    <h3>¿Estás seguro que quieres eliminar este Bodega?</h3>
<div>
    <h4>Bodega</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    @Html.ActionLink("Volver a lista", "Index", new { }, new { @class = "btn btn-primary" })
</div>
    }
</div>
